<div class="background-container">
  <!-- INVITE DETAILS -->
  <div class="invite-hero">
    <p>INAUGURAL</p>
    <h1>Fluin Halloween Party</h1>
    <p>Date: Saturday, October 28, 2017</p>
    <p>Time: 8:00pm</p>
    <p>Location: 36138 Windwood Lane, Newark, CA 94560</p>
  </div>

  <!-- RSVP Form -->
  <md-card class="rsvp-card">
    <md-card-title>RSVP Response</md-card-title>
      <md-card-content>
      <form class="form-stack">
        <md-form-field>
          <input mdInput placeholder="Name">
        </md-form-field>
        <md-chip-list>
          <md-chip>One Guest</md-chip>
          <md-chip>Two Guests</md-chip>
          <md-chip>Three Guests</md-chip>
        </md-chip-list>
        <md-checkbox checked="true" disabled>I will wear a custome!</md-checkbox>
      </form>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button color="primary">Submit</button>
    </md-card-actions>
  </md-card>
<div>