<div class="background-container">

  <!-- INVITE DETAILS -->
  <div class="invite-hero">
    <p>INAUGURAL</p>
    <h1>Fluin Halloween Party</h1>
    <p>Date: Saturday, October 28, 2017</p>
    <p>Time: 8:00pm</p>
    <p>Location: 36138 Windwood Lane, Newark, CA 94560</p>
  </div>

  <!-- RSVP Form -->
  <md-card class="rsvp-card" *ngIf="userRSVP | async as rsvp">
    <md-card-title>RSVP Response</md-card-title>
    <md-card-content>
      <form class="form-stack" ngNoForm (submit)="processRSVP(rsvp)">
        <md-form-field>
          <input mdInput placeholder="Name" [(ngModel)]="rsvp.name">
        </md-form-field>
        <md-select placeholder="Number of Guests" [(ngModel)]="rsvp.guests">
          <md-option *ngFor="let guests of [1, 2, 3, 4, 5]" [value]="guests">
            {{guests}}
          </md-option>
        </md-select>
        <md-checkbox checked="true" disabled>I will wear a costume!</md-checkbox>

        <md-form-field class="example-full-width">
          <textarea mdInput placeholder="Comment" [(ngModel)]="rsvp.comment">Can't wait to party!</textarea>
        </md-form-field>

        <md-card-actions>
          <button md-raised-button color="primary">Save</button>
        </md-card-actions>

      </form>
    </md-card-content>

  </md-card>
</div>

<!-- RSVP FEED -->

<div class="rsvp-feed">
  <h1>RSVP Feed</h1>

  <div *ngFor="let oneRSVP of allRSVPS | async">
    {{oneRSVP.name}} {{oneRSVP.guests}} {{oneRSVP.comment}}
  </div>
</div>