<div class="background-container">

  <!-- INVITE DETAILS -->
  <div class="invite-hero">
    <p>INAUGURAL</p>
    <h1>Fluin Halloween Party</h1>
    <p>Date: Saturday, October 28, 2017</p>
    <p>Time: 8:00pm</p>
    <p>Location: 36138 Windwood Lane, Newark, CA 94560</p>
  </div>

  <!-- RSVP Form -->
  <mat-card class="rsvp-card" *ngIf="userRSVP | async as rsvp">
    <mat-card-title>RSVP Response</mat-card-title>
    <mat-card-content>
      <form class="form-stack" ngNoForm (submit)="processRSVP(rsvp)">
        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="rsvp.name">
        </mat-form-field>
        <h2>Will you be able to join us?</h2>
        <mat-select placeholder="Attendance" [(ngModel)]="rsvp.attendance">
          <mat-option value="attending">I will Attend</mat-option>
          <mat-option value="maybe">I might Attend</mat-option>
          <mat-option value="not attending">I can't Attend</mat-option>
        </mat-select>
        <h2>How many people will be joining us?</h2>
        <mat-select placeholder="Number of Attendees" [(ngModel)]="rsvp.guests">
          <mat-option *ngFor="let guests of [0, 1, 2, 3, 4, 5]" [value]="guests">
            {{guests}} attendee(s)
          </mat-option>
        </mat-select>
        <mat-checkbox checked="true" disabled>I will wear a costume!</mat-checkbox>

        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Comment" [(ngModel)]="rsvp.comment">Can't wait to party!</textarea>
        </mat-form-field>

        <mat-card-actions>
          <button mat-raised-button color="primary">Save</button>
        </mat-card-actions>

      </form>
    </mat-card-content>

  </mat-card>
</div>

<!-- RSVP FEED -->

<div class="rsvp-feed">
  <h1>RSVP Feed</h1>

    <table class="fixed-headers">
      <thead>
        <tr>
          <th>Name</th>
          <th>Guests</th>
          <th>Comment</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let oneRSVP of allRSVPS | async">
          <td>{{oneRSVP.name}}</td>
          <td>{{oneRSVP.guests}}</td>
          <td>{{oneRSVP.comment}}</td>
        </tr>
      </tbody>
    </table>
</div>